<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
    <form action="">
        <p>
            <label for="email"> email: </label>
            <input id ="nom1" type="email" name="nom" placeholder="Entrer votre email">
        </p>

        <p>
            <label for="email"> password </label>
            <input id ="nom1" type="password" name="password" placeholder="Entrer votre Mot de passe">
        </p>


        <textarea name="" id=""  rows="10"   cols="100"> votre commentaire </textarea>

        <input type="checkbox" id="php">
        <label for="php"> formaton en php</label>






    </form>


</body>
</html>